# Build results
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Rider / VSCode
.idea/
.vscode/
.vs/

# Logs
**/logs/
**/*.log

# Node
frontend.UI/node_modules/
frontend.UI/dist/
frontend.UI/.env.local
frontend.UI/.env.*

# OS
.DS_Store
Thumbs.db
